{% extends "products/base.html" %}

{% block content %}
    <div class="container ">
    <div class="jumbotron jumbotron-sm" style="background-color:#778899;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3 class=" headings" style="margin-top:-2%">
                    About Us
                </h3>
            </div>
        </div>
        </div>
        <div class="content">
            <h5 class=" text-center"><em>Our Mission</em></h5>
            <h6 class="text-center">Creativity with purity.</h6></br>

            <p class=" about lead text-justify">Started in the year 1985 by Mr. Pavan Jain, Vero jewels has been rising constantly.We started with dealing only in high quality loose diamonds. Now, Vero Jewels has laid its hands in the manufacturing of diamond and gold jewellery. We can provide you with a vast range of designs.

                </br>For us, the most important thing, more than anything else is, Trust. We believe that it is only our customers who have led to the growth of this company and our primary aim is your satisfaction. To achieve this, We have always been providing our customers with the best quality diamonds and in the best market rate.
</br>            </br>
-Vero Jewels</p>
            <h5 class=" text-center"><em>Our Team</em></h5></br>
            <ul>
                <li>Mr Pavan Jain – 9821111592</li>

                <li>Mr Virang Jain –9029111154</li>

                <li>Mr Punya Jain – 9833391116</li>
</ul>
        </div>
</div>
{% endblock content %}