{% extends "products/base.html" %}
{% load static %}
{% block title %}
Contact us
{% endblock title %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col">
    <div class="jumbotron jumbotron-sm" style="background-image: url({% static 'products/images/bubbles.jpg' %});background-size: 100% auto;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3 class=" headings" style="margin-top:-2%">
                    Contact Us
                </h3>
            </div>
        </div>
    </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Address:</h3>
                <p style="margin-top:6%;line-height:35%">Borivali(W), Mumbai -92,MH, India</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail Address:</h3>
                <p style="margin-top:6%;line-height:35%">verojewels@gmail.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Mobile</h3>
                <p style="margin-top:6%;line-height:35%">9833391116 (Punya Jain) </p>
                <p> 9029111154 (Virang Jain)</p>
                <br />
                <br />

            </div>
        </div>
        <div class="col-sm-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30136.97285640266!2d72.82164548946992!3d19.23353121375914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0ce3cd117f7%3A0x515d558b955bf692!2sBorivali+West%2C+Mumbai%2C+Maharashtra%2C+India!5e0!3m2!1sen!2sae!4v1532356327437" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>
</div>
</div>

{% endblock content %}