
{% extends "products/base.html" %}
{% load static %}
{% block title %}
{% load cloudinary %}
{{ ptype }}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#778899;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3 class=" headings" style="margin-top:-2%">
                {{ ptype }}
                </h3>
            </div>
        </div>
    </div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="container">
        {% for i in details %}
        <div class="row border border-light shadow-sm p-3 mb-5 bg-white rounded">
            <div class="col-md-3">

                <img src="{{ i.article_image.url }}" class="mw-100 mh-100 img-thumbnail img-fluid figure-img zoom rounded ">
            </div>
            <div class="col-md-9">
                <a href="/products/{{ ptype }}/{{ i.id }}" ><h5><u>{{ i.article_name }}</u></h5></a>
                <p>{{ i.date }}</p>
                <p> {{ i.article_desc }}</p>
            </div>


        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}