{% extends "products/base.html" %}
{% load static %}
{% load cloudinary %}
{% block title %}
Enquire
{% endblock title %}
{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-image: url({% static 'products/images/hexagon.jpg' %})">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3 class=" headings" style="margin-top:-2%">
                {{ prod.article_name }}
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
             <a href="{{ prod.article_image.url }}" target="_blank"> <img src="{{ prod.article_image.url }}" width=600, height=600 , max-height=600 class="img-fluid  rounded">
            </a>
            </div>
            <div class="col-md-4">
                <div>
                <h6><em>Description: </em></h6>
                <p>{{ prod.article_desc }}</p>
                </div>
            </div>
        </div>

                <div class="row">
                    <div class="col-md-12">
                </br> <h6><em>Like this design?? Want to know more? Send an enquiry.. </em></h6>

{% load widget_tweaks %}

<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
                        </div>
                    </div>
                </div>
            </div>





{% endblock content %}